body{
display: block;
box-sizing: border-box;
background-color: #ACBCFF;
color: black;
border-radius: 4px;

}

.popup-container {
    width: 300px;
    padding: 20px;
  }
  
  .message {
    display: block;
    margin-bottom: 10px;
  }
  
  .password-input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .save-button {
    display: flex;
    margin: 4px 2px;
    padding: 2px 2px;
    color: black;


  }
  